.slideshow-container {
 top: 00px;
}

.btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #b89146;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #000000;
}